################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrientacaoObjetos/bin/Debug/net5.0/ref/OrientacaoObjetos.dll
